/* col center user */
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
/*============================*/

#content{
	height: auto;
	margin: 5% 0% 0% 0%;
}	

/* 圖片輪播區塊 */
#pic_area{
	height: 20%;
	
	padding: 0%;
}
#pic_area_Line{
	width: 50%;
	height: 2%;
	background-color: #000000;
	display: block;
	position: absolute;
	top: 25%;
	left: 0%;
	overflow:hidden;
}
#pic_rotation{
	width: 65%;
	height: auto;
	position: relative;
	top: 0%;
	left: 30%;
	margin:0%;
}
#pic_rotation img{
	width: 100%;
	height: auto;

}
/*==================*/

/*文字區塊*/
#word_area{
	height: 5%;
	margin: 5% 0% 0% 0%;
	padding: 0%;
	/*background-color: #FFD2D2;*/
}
#word_area_Left{
	height: auto;
}
#word_area_Right{
	height: auto;
}
/*==================*/

/*產品照面區塊*/
#prod_pic{
	height: 5%;
}
#prod_2Dpic{
	height: 5%;
}
/*==================*/

/*acces區塊*/
#pord_acces{
	height: 20%;
	margin: 0% 0% 0% 15%;
}
#pord_acces div{
	height: auto;
	margin: 5% 0% 0% 0%;
}
/*==================*/

/*footer區塊*/
footer{
	height: 300px;
	font-family:Arial;
	color:#FFFFFF;
	margin: 5% 0% 0% 0%;
}
footer div{
	background-color: #1A1A1A;
	height: auto;
}
#shareArea{
	height: 20%;
	padding-top: 1%;
}
#shareArea ul{
	list-style-type: none;
}
#info{
	height: 75%;
}
#email_info{
	position: relative;
	top: 0%;
	left: 1%;
}

#location_info img{
	height: auto;
	position: relative;
	top: 0%;
	left: 50%;
	margin-top: 4%;
}
/*==================*/

/* About.html css style */
#aboutPage{
	font-family:Arial;
	font-size: 18px;
	/*background-color: #FFD2D2;	*/
}
#aboutPage a{
	color:#000000;
}
#subnavbar ul{
	margin-left: 33%;
}
#Intro_Area div{
	margin-top: 1%;
	margin-bottom: 1%;
}
#Intro_Area img{
	width: 75%;
	height: auto;
}
/* ================ */

#location_Area{
	height: auto;
	margin-top: 5%;
}
/* ================ */
#Traf_info_Area{
	height: auto;
}

/* ================ */
/*垂直線*/
.vline {
	display: inline-block;
   position:relative;
   height:310px;
   width:3px;
   background:black;
   top:0%;
}
/*======*/

