/* col center user */
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none ;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
}
/*============================*/

body{
	overflow-x: hidden;
}
#content{
	height: auto;
	margin: 5% 0% 0% 0%;
}	

/* 圖片輪播區塊 */
#pic_area{
	height: 20%;
	padding: 0%;
	position: relative;
}
#pic_area_Line{
	width: 50%;
	height: 2%;
	background-color: #000000;
	display: block;
	position: absolute;
	top: 15%;
	left: 0%;
	overflow:hidden;
}
#pic_rotation{
	width: 65%;
	height: auto;
	position: relative;
	top: 0%;
	left: 30%;
	margin:0%;
}
#pic_rotation img{
	width: 100%;
	height: auto;
}
/*==================*/

/*文字區塊*/
#word_area{
	height: 5%;
	margin: 5% 0% 0% 15%;
}
#word_area_Left{
	font-size: 18px;
	margin: 0% 0% 0% 0%;
}
#word_area_Right{
	height: auto;
}
/*==================*/

/*產品照面區塊*/
#prod_pic{
	height: 5%;
	margin: 5% 0% 0% 0%;
	padding: 0%;
}
#prod_2Dpic{
	height: 5%;
	padding: 0%;
}
/*==================*/

/*acces區塊*/
#pord_acces{
	height: 20%;
	/*margin: 0% 0% 0% 15%;*/
}
#pord_acces div{
	height: auto;
	margin: 5% 0% 0% 0%;
}
/*==================*/

/*footer區塊*/
footer{
	height: auto;
	font-family:Arial;
	color:#FFFFFF;
	margin: 5% 0% 0% 0%;
}
footer div{
	background-color: #1A1A1A;
	height: auto;
	margin: 0%;
	padding: 0% 0% 2% 0%;
}
#shareArea{
	height: 20%;
	padding: 1% 0% 0% 0%;
}
#shareArea ul{
	list-style-type: none;
}
#info{
	height: 75%;
}
#email_info{
	position: relative;
	top: 0%;
	left: 1%;
}
#location_info{
	margin-top: 1.5%;
}
.Address_Position{
	color: #9F9F9F;
	letter-spacing:2px;
	position: absolute;
	top : 50px;
	left: 61%;
}
/*==================*/

/* 梯形 */
.parallelogram {
	-webkit-transform: skew(-17deg);
	-moz-transform: skew(-17deg);
	-o-transform: skew(-17deg);
	-ms-transform: skew(-17deg);
	transform: skew(-17deg);
	background: #F2E421;
}
.para_Postion1{
	width: 60vw;
	height: 4vw;
	position: absolute;
	top: 20%;
	left: 20%;
}
.para_Postion2{
	width: 70vw;
	height: 4vw;
	position: absolute;
	top: 33%;
	left: 18.5%;
}
/*============================================================================*/


/* About.html css style */
#subnavbar ul{
	margin-right: 15%;
   margin-left: 25%;
	position: relative;
	/*left: 27.5%;*/
}
#aboutPage a{
	color:#000000;
	font-size: 21px;
}
/* ================ */

/* 介紹區塊 */
#Intro_Area div{
	position: relative;
	top: 5%;
}
#Intro_title{
	width: 72%;
	height: auto;
}

/* ================ */

/* Location 區塊 */
#location_Area{
	height: 100%;
	margin-top: 1%;
	padding-top: 4%
}
#location_Area .about_locTitle{
	font-size: 3.5vw;
	margin: 0%;
	padding: 0%;
	letter-spacing:0px;
}
#SymbangMap{
	width: 45%;
	height: 310px;
	position: relative;
	left: 2%;
}
/* ================ */

/* Traffic Information 區塊 */
#Traf_info_Area{
	height: 100%;
	margin-top: 5%;
	position: relative;
}
#Traf_info_AreaBG{
	position: absolute;
   left: 0%;
   top: 5%;
   z-index: -1;
	height: 100%;
	width: 100%;
}	
#Traf_info_Area div{
	margin-top: 3%;
}
#overwordCloud{
	height: 15%;
	width:20%;
	position: absolute;
   left: 50%;
   top: 11%;
}
#Traf_info{
	position: relative;
	left: 8%;
	right: 7%;
}
#Traf_info p{
	margin-left: 6%;
}
#Traf_info div{
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.marginSetLeft8{
	position: relative;
	left: 8%;
}
/* ================ */

/* 交易資訊區塊 */
#Payment_Area{
	margin-top: 1%;
	padding-top: 4%;
}
.payment_contentTitle{
	font-size: 20px;
	color:#B7272D;
	margin: 10% 0% 0% 0%;
}
.payment_contentSubTitle{
	font-size: 20px;
	color:#000000;
	margin: 0%;
}
.payment_content{
	font-size: 15px;
	color:#333333;
	margin: 0% 0% 0% 0%;
	padding: 0%;
}
/* ================ */

/* index 頁面 梯形內部用字體 */
.paraWordFont1{
	font-size: 4vw;
	letter-spacing:-2px;
	color:#000000;
	position: absolute;
	top: 17.5%;
	left: 21%;
}
.paraWordFont2{
	font-size: 4vw;
	letter-spacing:-2px;
	color:#000000;
	position: absolute;
	top: 31%;
	left: 18.5%;
}

/* about 頁面 標題字專用 */
.aboutContent_title{
	margin-top: 4%;
	font-size: 5vw;
	letter-spacing:3px;
}
/*============================================================================*/

/* product.html css style */

#ProductPage{
	background-color: #F4F5F5;
	margin: 10% 0% 0% 0%;
	padding: 5% 0% 0% 0%;
}
/* Product Page Title */
.productPageTitleFont{
	font-size: 10vw;
}
/* Product Page Product Level1 */
#ledProd_L1{
	margin: 8% 0% 0% 0%;
	position: relative;
	left: 10%;
}
#ledProd_L1 div{
	margin: 0% 2.5% 0% 0%;
}
#ledProd_L1 li a{
	color: #BBBBBB;
}
.ledProd_L1_Font{
	font-size: 1.1vw;
	margin-left: 20%;
}
.PD_ParentNav li{
	margin-left: 10%;
}
.PD_ParentNav li > a:hover{
	color: #4D4D4D !important;
	background-color: #F4F5F5;
}
/*============================================================================*/

/*  Product_info Page  */

#loca_info{
	position: relative;
}
.web_location{
	color: #D5D5D5;
}
/* 使用者 目前位置 */

#prod_info{
	position: relative;
	left: 9%;
	top : 0%;
}

#Prodpic_rotation{
	width: 81%;
	height: auto;
	position: relative;
	left: 1%;
}
#Prodpic_rotation img{
	width: 100%;
	height: auto;
}
.prod_info_title{
	font-size: 15vw;
	color: #000000;
	position: absolute;
	top : -40px;
	left: 65%;
}
.prod_info_subtitle{
	font-size: 3vw;
	color: #4D4D4D;
}
.prod_infnTitlePosition{
	position: relative;
	left:20%;
}

.prod_infoFormatPosition{
	position: relative;
}
.prod_infoItemPosition{
	margin-top: 8%;
}
#prod_info div table thead{
	background-color: #000000;
	color: #FFFFFF;
}
.relatedInfo_titlePosition{
	position: absolute;
	top : -10%;
	left: 81%;
}

/*============================================================================*/

/*  Contact Page  */
#contactpage_Head img{
	width: 120%;
	height: auto;
}
.contactpage_title{
	color: #FFFFFF;
	position: absolute;
	top: -5%;
	left: 50%;
}
.contactpage_titlecontent{
	color: #FFFFFF;
	position: absolute;
	top: 40%;
	left: 57.5%;
	line-height: 50px;
}


/*============================================================================*/

/*外邊界 margin set*/
.marginSet_0{
	margin: 0px !important;
}
.marginTopSet_1{
	margin-top: 1%;
}
.marginTopSet_2{
	margin-top: 2%;
}
.marginTopSet_3{
	margin-top: 3%;
}
.marginTopSet_5{
	margin-top: 5%;
}
.marginTopSet_6{
	margin-top: 6%;
}
.marginTopSet_8{
	margin-top: 8%;
}
.marginTopSet_10{
	margin-top: 10%;
}
.marginTopSet_25{
	margin-top: 25%;
}
.marginTopSet_50{
	margin-top: 50%;
}
.margin-left-right_1{
	margin: 0% 1% 0% 1%;	
}
.margin-left-right_5{
	margin: 0% 3% 0% 3%;	
}

/*內邊界 padding set*/
.paddingSet_0{
	padding: 0%;
}
.paddigSetTop_5{
	padding-top: 5%;	
}

/* 字體大小 */
.pagetitle{
	font-size: 10vw;
}
.prod_info_downFont{
	display: inline;
}
.prod_info_Font60{
	font-size: 5vw;
}
.prod_info_Font48{
	font-size: 2.5vw;
}
.prod_info_Font32{
	font-size: 2vw;
}
.prod_info_Font22{
	font-size: 1.5vw;
}
.prod_info_Font18{
	font-size: 1.2vw;
}
.prod_info_Font{
	font-size: 1vw;
}
.Font_size15px{
	font-size: 15px;
}
.Font_size19px{
	font-size: 19px;
}
/*============================================================================*/

/* 文字相關設定 */
.lineheight_2px{
	line-height: 30px;
}
.fontcolor_white{
	color: white;
}
.fontcolor_858585{
	color: #858585;
}
.fontcolor_808080{
	color: #808080;
}
.setPFont{
	line-height: 26px;
	letter-spacing: 1px;
	font-size: 18px;
}
@font-face {
   font-family: SourceHanSans_bold;
   src: url(font/SourceHanSansTWHK-Bold.otf);
   font-weight: 700;
}
@font-face {
   font-family: SourceHanSans_Medium;
   src: url(font/SourceHanSansTWHK-Medium.otf);
   font-weight: 600;
}

.SourceHanSansbold{
	font-family: SourceHanSans_bold;
}
.SourceHanSansMedium{
	font-family: SourceHanSans_Medium;
}
/*============================================================================*/

/*垂直線 about.html*/
.vlineliSpan{
   position:relative;
   top: 15px;
}
.vline {
	display: inline-block;
   position:relative;
   left: -51.5%;
   height: 310px;
   width: 8px;
   background:black;
}
/*======*/

/*垂直線 product_info.html*/
.vline_pordInfoPage {
	display: inline-block;
   position:absolute;
   top: 10%;
   left: -10%;
   height:20vw;
   width:2vw;
   background:black;
}
/*======*/

/*垂直線 product_info.html relatedInfo div use*/
.vline_relatedInfo {
	display: inline-block;
   position:absolute;
   top: -25%;
   left: -40%;
   height:7vw;
   width:1vw;
   background:#4D4D4D;
}
/*======*/

/*水平線*/
.horizontalLine{
	height: 0.2vw;
   width: 83.5%;
   background-color: #4D4D4D;
}
/*======*/
.Formhr{
	height: 1px !important;
   width: 100% !important; 
   background-color: #4D4D4D !important;
}

/*位置相關設定*/
.setPosition_50{
	position: relative;
	top: 0%;
	left: 50%;
}
/*圖片設定*/
.setimgSize_25{
	vertical-align:text-top;
	height: 25%;
	width: 25%;
}


/*表單*/
.radio_set{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin: 0px !important;
}
.input_width250px{
	width: 250px;
}
.error
{
	border: 1px solid #800000;
	box-shadow: 0px 0px 5px #800000;
}
.error_word
{
	color: #800000;
}
/*============================================================================*/
